#aDiv {
    background-image: url(../../public/f1.jpg);
    background-repeat: no-repeat;
    background-size:100%;

}
.body {
    /* página */

    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;


    /* preciso ajeitar a responsividade */
}
.aRef {
        text-decoration: none;
}

.cardFilial {
    /* estilo da caixa */
    width: 45%;
    height: 45%;
    background-color: #ae3a2a;
    border-radius: 2%;
    box-shadow: 1px 1px 11px 4px #2f2f2f;
    padding: 20px;
    margin: 60px 5px 20px 5px;

    /* display */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;

}

.textoFilial {
    width: 45%;
    display: block;
    min-width: 20px;
}

.imgFilial {
    box-shadow: 1px 1px 6px 2px #52160f;
    border-radius: 40px 10px;

}
.divImg {
    width: 50%;
    min-width: 20px;
    margin-bottom: 35px;
}
.nomeFilial,
.enderecoFilial {
    color: #f3f3e8;
    margin-bottom: 10%;
}

.nomeFilial:hover {
    color: #073a86;

}

.imgFilial {
    width: 100%;
    
}