#fotoHome {
    width: 100%;
}

.homeDiv {
    margin: 150px 250px 150px 250px;
    padding: 20px;

}

.sobre {
    text-align: center;
    font-size: 23px;
    color: #323232;
    font-weight: 590;
}

.sobreDestaque {
    text-align: center;
    margin-top: 21px;
    font-size: 25px;
    color: #222222;
    text-shadow: 2px 2px 2px #979797;
}

.homeDiv h1 {
    text-align: start;
    margin-bottom: 2rem;
    text-align: center;
    color: #FFA300;
    text-shadow: 2px 2px 2px #231f1f;

}

@media (max-width:1000px) {
    .homeDiv {
        margin: 170px 50px 170px 50px;
        padding: 20px;
    }

    .homeDiv h1 {
        text-align: justify;
    }

    .sobre {
        text-align: justify;
    }

    .sobreDestaque {
        font-weight: 597;
        text-shadow: 2px 2px 2px #8b8b8b;

    }
}

@media (max-width:600px) {
    #fotoHome {
        height: 400px;
    }
}