.container {
    /*width: 1200px;*/
    display: flex;
    color: #FFA300;
    flex-wrap: wrap;
    justify-content: space-between;
}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}