/* CAIXA QUE REGE TUDO */
.footer {
  color: #f3f3e8;
}



/* REDES SOCIAIS */

.socialList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 20px;

}



.aRef:hover {
  transition: 0.5s;
  color: #FFA300;
}

.socialList svg {
  font-size: 1.5em;
}

/* CAIXA DE TEXTO */
.footerColLinkDif {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #f3f3e8;
  text-decoration: none;
  cursor: default;
}

.footerCol .formSub input {
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  padding: 10px 46px 10px 10px;
  font-size: 16px;
  border: 1px solid #f3f3e8;
  border-radius: 5px;
  color: #f3f3e8;
  background-color: #231f1f;
}

.footerCol .formSub input::placeholder {
  color: #ffa200bf;
}

.aRef {
  text-decoration: none;
  margin-right: 2rem;
  color: inherit;
}

.footerCol .formSub button {

  padding: 5px 15px 10px 12px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  color: #231f1f;
  border-radius: 3px;
  font-weight: bold;
  background-color: #f3f3e8;
}

.footerCol .formSub button:hover {
  color: #FFA300;
}

.footerCol p {
  margin-bottom: 0.7rem;
}

/* PARTE DOS CRÉDITOS */


.copyRightDiv {
  background-color: #342e2e;
  padding: 16px;
  text-align: center;
}

.copyRight span {
  font-weight: bold;
  color: #FFA300;
  font-family: 'Dosis';
}


/* TODA LISTA DO RODAPÉ */
.containerFooter {
  padding: 30px 30px 30px 30px;
  background-color: #231f1f;

}

.containerFooter li {
  padding-bottom: 1.3rem;
}

.rowFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footerCol {
  width: 25%;
  padding: 0 15px;
  margin: 20px;
}

.footerCol h4 {
  font-family: 'Dosis';
  font-size: 28px;
  color: #f3f3e8;
  margin-bottom: 20px;
  font-weight: 500;
}

.footerCol ul {
  list-style: none;
}

.footerCol ul li {
  margin: 10px 0;
}

.footerColLink {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #f3f3e8;
  text-decoration: none;
  transition: all 0.3s ease;

}

.footerColLink:hover {
  color: #FFA300;
  padding-left: 10px;

}





/* NO MOBILE */
@media (max-width:820px) {
  .footerCol {
    width: 100%;
  }

  .aRef:hover {
    color: inherit;
  }

  .footerColLink:hover {
    color: inherit;
    padding-left: 0px;
  }

  .footerColLink {
    transition: none;
  }
}

.socialList {
  list-style-type: none;
}