#logoCinema {
    width: 35%;
    border-radius: 10px;
    box-shadow: 1px 1px 11px 4px #df8d00bd;

}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #231f1f;
    padding: 0.3em 1em 0.1em 3em;
    font-weight: bold;

}

.listNav {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 4em;
}

.item a {
    color: #f3f3e8;
    text-decoration: none;
    transition: 0.5s
}

.item a:hover {
    color: #FFA300;

}

@media (max-width: 750px) {
    #logoCinema {
        margin-left: 22%;
        width: 55%;
    }

    .navbar {
        padding: 0px;
    }

    .listNav {
        display: unset;
    }
}