#logoCinema {
    width: 45%;
    border-radius: 10px;
    box-shadow: 1px 1px 11px 4px #df8d00bd;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    padding: 0.5em 1em 1.0em 3em;

}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 5em;
}

.item a {
    color: #f3f3e8;
    text-decoration: none;
    transition: 0.5s
}
.item a:hover {
    color: #FFA300;

}