#logoCinema {
    width: 49%;

}

.navbar {
    background-color: #231f1f;
    padding: 0em 0em 0em 2em;
    font-weight: bold;
}

.listNav {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 9em;
}

.item a {
    color: #f3f3e8;
    text-decoration: none;
    transition: 0.5s;
}

.item a:hover {
    color: #FFA300;

}

@media (max-width: 800px) {
    #logoCinema {
        margin-left: 30%;
        margin-top: 20px;
        width: 55%;
    }

    .listNav {
        flex-wrap: wrap;
        flex-direction: column;

        margin-left: 45%;
        padding-top: 50px;
    }

    .listNav li {
        margin-bottom: 3rem;
    }

    /* Colocar menu responsivo, já estando em pré produção*/
}