@font-face {
    font-family: 'FreeSans';
    src: url(/public/FreeSans.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'FreeSans';
}

html,
body,
#root {
    background-color: #c2c2c2;
    height: 100%;
}